# DB Configuration
DB_URL=mongodb+srv://manan_sonani:mjs123456@cluster0.ocs0tra.mongodb.net/CRM

# Server Environment
NODE_ENV=development
PORT=8000

# Security
KEY=your emcrypted key for bycrypt
JWT_SECRET=************
TOKEN_LIFE=2d

# SMTP
HOST=smtp.gmail.com

SERVICE=gmail
DEFAULT_FROM=manan.s1008@gmail.com
DEFAULT_REPLY_TO=manan.s1008@gmail.com
SMTP_PORT=465
SMTP_USER_NAME=manan.s1008@gmail.com
SMTP_PASSWORD=**************
EXCEPTION_MAIL = manan.s1008@gmail.com

# Timezone configuration
TIMEZONE=Asia/Kolkata
DATA_BASE_DATE_TIME_FORMAT=YYYY-MM-DD HH:mm:ss

# Admin URLs
ADMIN_URL=http://192.168.114.249:8000
# ADMIN_URL=http://192.168.1.243:8000
